server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shop_product
    username: shop
    password: shop
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
